.background {
    background-color: #1e2124;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #282b30;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(220, 219, 219, 0.3);
    color: white;
  }
  
  .login-box h2 {
    color: #7289da;
    text-align: center;
  }
  
  .login-box button {
    background-color: #7289da;
    color: white;
    border: none;
  }
  
  .login-box a {
    color: #7289da;
    text-decoration: none;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }
  
